.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px;
  width: 100%;
  margin-top: 20px;
}

/* Large Tablets */

@media (max-width: 1024px) {
  .grid {
    gap: 24px;
  }
}

/* Tablets */

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

/* Mobile */

@media (max-width: 480px) {
  .grid {
    gap: 20px;
  }
}